.list {
  &_item {
    padding: 20px 0;

    &:not(:last-child) {
      border-bottom: 1px solid #ccc
    }
  }
}

.pagination{
  &_wrapper{
    display: flex;
    align-items: center;
    padding: 10px; 
    justify-content: center;
  }
}